.site-header .navigation .navbar-header {
    margin-top: 5px;
}

.navbar-brand {
    max-width: 150px;
}

.section-padding {
    padding: 60px 0px 60px;
}

.hero-style-2,
.hero-style-2 .slide {
    height: 750px;
}

@media (max-width: 1200px) {

    .category-area .category-wrap .category-title h2,
    .category-area-s2 .category-wrap .category-title h2 {
        font-size: 0px;
    }
}

@media screen and (min-width : 992px) {
    .site-header #navbar>ul .sub-menu {
        background-color: #fff;
        width: 250px;
        left: 0;
    }

    .site-header #navbar>ul>li>a:before {
        display: none;
    }

    .site-header #navbar>ul>li>a {
        padding: 20px 25px;
    }

    .site-header #navbar>ul>li>.sub-menu .sub-menu {
        left: 100%;
        top: -3px;
    }
}

.contact-form .form-control {
    border: 1px solid rgb(174, 174, 174) !important;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15) !important;
    border-radius: 5px !important;

}

.contact-form textarea {
    border: 1px solid rgb(174, 174, 174) !important;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15) !important;
    border-radius: 5px !important;
}

.theme-btn {
    border-radius: 5px !important;
}

.video-item iframe {
    width: 100%;
    height: 315px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category-wrap .category-item .category-content h2 {
    font-size: 23px !important;
}

.tp-fun-fact-grids .info p {
    font-size: 20px !important;
    font-weight: 400;
}

.offer-title h2 {
    font-size: 30px !important;
    font-weight: 400;
}
.product-wrap .product-item .product-content h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.buy-now{
    background: -webkit-gradient(linear, left top, right top, from(#ed1d24), color-stop(50%, #bf692d), to(#ed1d24));
    background: linear-gradient(left, #ed1d24, #bf692d 50%, #ed1d24);

    background: -webkit-linear-gradient(left, #ed1d24, #bf692d 50%, #ed1d24);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding: 7px 14px !important;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    background-size: 100%, 1px;
    background-position: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 3px;
}
.buy-now:hover{
    color: #fff;
}
.quickview-dialog {
    margin: 5% auto;
}

.contact-ft i{
    font-size: 5px !important;
}
.modal-content .social-share{
    display: none !important;
}
.size-btn{
    background: -webkit-gradient(linear, left top, right top, from(#ed1d24), color-stop(50%, #bf692d), to(#ed1d24));
    background: linear-gradient(left, #ed1d24, #bf692d 50%, #ed1d24);

    background: -webkit-linear-gradient(left, #ed1d24, #bf692d 50%, #ed1d24);
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding: 3px 3px !important;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    background-size: 100%, 1px;
    background-position: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    border-radius: 3px;
    margin-bottom: 3px;
}



.float{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 11%;
    right: 1%;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 32px;
    box-shadow: 2px 2px 3px #999;
    z-index: 10001;
  }
  @media(max-width: 480px){
  .float {
    width: 40px;
    height: 40px;
    font-size: 24px;
    bottom: 110px;
    right: 9px;
  }
  #header{
    margin-bottom: 0px !important;
  }
  .site-header .header-style-22{
    margin-bottom: 0px !important;
  } 
  .site-header .navigation{
    padding: 0 !important;
  }
  }
  .float:hover, .float:focus{
    color:#FFF;
  } 
  .my-float{
    margin-top:8px;
  }


  /* our client */
  .client-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 15px; */
}

.client-area .owl-carousel .owl-item img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    max-height: 100px;
}

.client-area .owl-carousel .owl-stage {
    display: flex;
    align-items: center;
}

  .qwerty {
    position: absolute;
    top: 5px;
    right: 5px;
    background:#fdf5ee;
    cursor: pointer;
    border: none;
    color:#FFA500;
    font-weight: bold;
    border-radius: 15px;
    padding-right: 5px;
    padding-left: 5px;
    transition: all 0.3s ease;

}
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9998;
}

#popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:none;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 6px;
    text-align: center;
    z-index: 9999;
}

#popup-content img {
    max-height: 85vh;
    width: auto;
}


/* product details */
.product-details .product-single-content .product-filter-item.color.filter-size ul li label a{
    color: #fff;
}
/* hero section slide */
@media only screen and (max-width: 768px){
    .hero-style-2 .slide {
    background-size: contain !important ;
    background-position: center !important;
    max-height: 300px;
    margin: 0% 0% -2.5%; 
        
    }
    
.hero-style-2, .hero-style-2 .slide {
    height: 300px;
}
.category-area-s2{
    margin-top: -100px;
}
.slick-dots{
    display: none !important;
}
}
/* @media(max-width:480px){
    .hero-style-2 .slide {
    height: 100%;
    margin: -2.5% 0%;
    background-size: contain: ;;
}
} */
    




